body{
    width: 100vw;
}
nav {
    background-color: rgb(112, 200, 255);
}
.carousel .carousel-item {
    visibility:visible;
    width: 340px !important;
    background: none;
    border: none;
    overflow: visible;
}

.carousel-slider{
    align-content: center;
    height: 75vh;
}

.card{ 
    border-radius: 8px; 
    position: relative !important;
    right: 20px !important;
}
.loading-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loading{
    border-radius: 100%;
    align-content: center;
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
.pet-tential-selection-buttons, .pet-tential-footer, .modal-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn{
    margin: 1vw;
}
.pet-tential-footer{
    position:absolute;
    bottom:0;
    width:100%;
}
.modal-footer{
    justify-content: space-evenly;
}
.hide{
    visibility:hidden;
}