body{
    width: 100vw;
}
nav {
    background-color: rgb(112, 200, 255);
}
.carousel .carousel-item {
    visibility:visible;
    width: 340px !important;
    background: none;
    border: none;
    overflow: visible;
}

.carousel-slider{
    align-content: center;
    height: 90vh;
}

.card{

    border-radius: 8px; 
    position: relative !important;
    right: 20px !important;
}

.animal-image{
    height: 50vh; 
    object-fit: contain;
}

.pet-tential-selection-buttons, .pet-tential-footer, .modal-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position:absolute;
    bottom:0;
    width:100%;
}

.btn{
    margin: 1vw;
}

.modal-footer{
    justify-content: space-evenly;
}
