nav {
    background-color: rgb(112, 200, 255);
}

#paw-img {
    position: relative;
    left: 10%;
}

#furiends-button {
    position: relative;
    margin-top: 15px;
    right: 5%;
}

.spacer {
    visibility: hidden;
}

label span {
    color: white;
}

div.row {
    display: flex;
}

.card-title.pet-facts {
    font-size: 20px;
}

.pet-facts-column {
    margin: 80px 15px;
    width: 22%
}

.pet-parameters-card-large {
    margin-top: 25px;
    width: 50%;
}

.furiends-list-title
{
    width:50%;
    margin-left: 25%;
}
.furiends-cards
{
    padding: 5px;
}

label span {
    color: black;
}